
<% provide(:title, '1/4/14') %>

<div id="subtitle">We're getting married, and we hope you'll be there - 1/4/14</div>

<%= image_tag("tree7.jpg", alt: "Del Mar, California", :id => "bgimage", :width => "100%" ) %>
<div id="content">Welcome to our wedding website! Please browse the links at the top to learn more about us and the wedding.
<br>Registries and RSVP will be available in late June.</div>

