<% provide(:title, 'Location') %>
<div id="subtitle">Location & Travel Information</div>
<div id="content">
  <div class="content-bottom"><center>
    <%= image_tag("SanDiego_panorama_resized.jpg", :alt=> "San Diego Skyline", :width=>950) %><br><br>
    Welcome to San Diego, California
    </center>
    
    <div class="minisubtitle">Transportation & Directions</div>
    <table><tr><td width = 350><center><%= image_tag("coasthwy-bridge-painted.jpg", :alt=>"Coast Highway", :width => 300) %></center>
    </td>
    
    <td width =600>Del Mar is just 45 minutes north of San Diego, or about two hours from Los Angeles - just take I-5 to Del Mar Heights road and head west to the ocean. The <a href="http://www.san.org/">San Diego Airport</a> and <a href="http://www.gonctd.com/coaster">Coaster stations</a> are convenient transportation hubs.
    <br>
    <br>Seagrove Park is a 5 minute walk from the Powerhouse in Del Mar:
    <br>
    <br>The Del Mar Powerhouse
    <br>1658 Coast Boulevard
    <br>Del Mar, CA 92014
    </td>
    </tr></table>


    
    <div class="minisubtitle">Lodging & Map</div>
    <center>Explore the area using our customized map! 
    <br>
    <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=201842657862714677233.0004de6042540634c413f&amp;ie=UTF8&amp;t=m&amp;ll=32.955241,-117.258668&amp;spn=0.017285,0.027466&amp;z=15&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=201842657862714677233.0004de6042540634c413f&amp;ie=UTF8&amp;t=m&amp;ll=32.955241,-117.258668&amp;spn=0.017285,0.027466&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">Del Mar Wedding Map</a> in a larger map</small></center>
    
    <br><br>Check back soon for wedding discounts on local hotels!
    <br><u>Del Mar Lodging</u>
    <ul>
    <li>Clarion Inn (from $131/night)</li>
    <li>Wave Crest (from $200/night)</li>
    <li>Hilton Del Mar (from $269/night)</li>
    <li>Hotel Indigo (from $339/night)</li>
    <li>L'Auberge (from $350/night)</li>
    <li>The Lodge at Torrey Pines ()</li>
    </ul>
    <u>Carmel Valley and Torrey Hills Hotels</u>
    <ul>
    <li>Mariott (from $120/night)</li>
    <li>Hilton Garden Inn (from $126/night)</li>
    <li>Doubletree (from $149/night)</li>
    <li>Hampton Inn (from $170/night)</li>
    <li>Homewood Suites (from $180/night)</li>
    </ul>
  </div>
</div>
