<% provide(:title, 'Registry') %>
<div id="subtitle">Gift Registries</div>

<div id="content">
  <div class="content-bottom">
Please visit our registries online or in-store!<br><br>
<center>
<%= link_to image_tag("BBB_logo.png", alt: "Bed, Bath, & Beyond"), 'https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=6813723&pwsurl=', :target => "_blank" %>
<br>
<%= link_to image_tag("amazonlogo.jpg", alt: "Amazon.com"), 'http://www.amazon.com/registry/wedding/1YXCQX5IZ7K62', :target => "_blank" %>
<br>
<%= link_to image_tag("cratelogo.png", alt: "Crate & Barrel"), 'http://www.crateandbarrel.com/Gift-Registry/Jessica-Rucker-and-Jordan-Gottdank/r5056996', :target => "_blank" %>
</center>
</div>
</div>
