<% provide(:title, 'Our Story') %>
<div id="subtitle">Our Story</div>
<div id="content">We first met at Torrey Pines High School through the band program. While we both had close mutual friends for the first two years at Torrey, we didn't really meet until Jazz Band in our junior year... <br><br> More of the tale to come!</div>
