<% provide(:title, 'Our Story') %>
<div id="subtitle">Our Story</div>
<div id="content">
  <div class="content-left">
    <center><div class="outer250">
    <div class="rounded-image250"><%= image_tag("https://sphotos-a.xx.fbcdn.net/hphotos-prn1/155007_1271738147609_818465_n.jpg", :width => '250') %></div></div></center>
    
    <br>Jessie grew up in Southern California. She has a love of the outdoors, the ocean, puppies, and delicious Mexican food. After graduating from Torrey Pines High School she attended Oberlin College for two years, earning a B.A. in Music, and then Olin College of Engineering for four years, earning a B.S. in Mechanical Engineering. Jessie currently works as a tutor in LA, runs a new, semi-pro, all-female a cappella group called Premiere, and spends her free time programming and arranging music.
  </div>
  
  <div class="content-right">
    <center><div class="outer350">
    <div class="rounded-image350"><%= image_tag("https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/34652_1224602129238_4650052_n.jpg", :width => '350') %>
    </div></div></center>
    <br>
    Jordan was born in New York but brought to San Diego at a young age, and so calls Southern California his home. After graduating from Torrey Pines High School, he studied music and physics at Oberlin College, earning a B.A. in Physics. After spending two years in the work force, Jordan decided to become a lawyer and has recently finished his first year at UCLA Law School. Jordan still loves to play his guitar and visit the beach as often as possible.
  </div>
  
  <div class="content-bottom">
    <br>
    <div class="minisubtitle">How We Met</div>
    <table cellpadding="20"><tr><td>
    <%= image_tag("winterformal.jpg", :width => '400') %>
    </td>
    <td><center>
    I took Jazz Band every year in high school. After my sophomore year, the group had a lot of turnover, and Jordan joined as our resident guitarist. We were instant best friends, having similar passions, work ethics, and a certain humor about life. It wasn't until one of my female friends asked me if he was "available," did I realize how much I actually liked him. Carefully walking the friendship line, I asked him to be my date to the Winter Formal dance, and of course, he said yes.</center>
    </td></tr></table>
    
    
  <!--div class="minisubtitle">Our Love Saga</div>
  <table width="1000">
    <tr valign="top">
      <td width="150">Year One, 2004-2005: </td>
      <td width="850">During our junior year of high school, we became best friends and then officially a couple.<br>"You guys can never break up" -Marie</td>
    <tr>
      <td>Year Two, 2005-2006:</td>
      <td> 
    </tr>
    <tr>
	  <td>Year Three: </td>
	</tr>
	<tr>
	  <td>Year Four: </td>
	</tr>
	<tr>
	  <td>Year Five: </td>
	</tr>
	<tr>
	  <td>Year Six: </td>
	</tr>
	<tr>
	  <td>Year Seven: </td>
	</tr>
    <tr>
	  <td>Year Eight: </td>
	</tr>
	<tr>
	  <td>Year Nine: </td>
	</tr>
	<tr>
	  <td>Year Ten,<br>2013-2014: </td>
	  <td>Year Ten, 2013-2014: This November, just before Thanksgiving, we are entering year 10!
      <br>After nearly a decade, I guess it's time to finally get married.</td>
	</tr>
  </table-->
 
  <div class="minisubtitle">The Proposal</div>
  <table cellpadding="20"><tr><td width="400">Jordan's story here</td>
  <td>
  <%= image_tag("proposal.jpg", :width => '250') %>
  </td>
  </tr></table>
  
  <div class="minisubtitle">What Makes Us Click</div>
  walking on the beach * cooking dinner * quoting Family Guy and Arrested Development * having refined philosophical discussions * doing crosswords * enjoying family * eating at Roberto's * living life
  </div>

</div>
