

    <div id="subtitle">User Login</div>
<div id="content">
  [Log in] [insert form]<br>
  or, if you don't have a username:
  <br>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <br>
  [Forgot password]
</div>
