<% provide(:title, 'Wedding') %>
<div id="subtitle">Our Big Day</div>
<div id="content">
<%= image_tag("seagrove-park-sign.jpg", :width => 450) %>
<%= image_tag("seagrove-park-walkway_resized.jpg", :width => 450) %>

<br><br>
<center>
Wedding Ceremony
<br>to be held at
<br><h3>Seagrove Park</h3>
2:14PM
<br><br>
<br>Reception to follow at
<br><h3>the Powerhouse in Del Mar</h3>
3-8PM
</center>
<br><br>

<%= image_tag("powerhouse-oceanview.jpg", :width =>425) %>
<%= image_tag("powerhouse-topview.jpg", :width => 475) %>
</div>
