<% provide(:title, 'Wedding') %>
<div id="subtitle">Wedding Events</div>
<div id="content">
Our wedding is on Saturday, January 4th, 2014. See below for details of the day.
<br><br>
All guests are also invited to:
<ul>
<li><b>January 1st Evening Beach Bonfire Potluck</b> at La Jolla Shores! Let's meet around 4PM while the sun is still up - bring beach blankets and chairs, and something yummy for dinner or s'mores (and let everyone else know what you are bringing: <a href="https://docs.google.com/spreadsheet/ccc?key=0AjGGpunHTkhIdGpaSWxrVjJsQmhUT3hOdE8yTVViRVE&usp=sharing">post it here</a>)</li>
<li><b>Wedding Afterparty</b>, January 4th around 9PM (location TBA)</li>
</ul>
<br>

<div class="minisubtitle">Our Big Day</div>
<%= image_tag("seagrove-park-sign_compressed.jpg", :alt => "Seagrove Park", :width => 450) %>
<%= image_tag("seagrove-park-walkway_compressed.jpg", :alt => "A Del Mar park overlooking the Pacific", :width => 450) %>

<br><br>
<center>
Wedding Ceremony
<br>to be held outisde at
<br><h3>Seagrove Park</h3>
2:14PM
<br><br>
<br>Reception to follow at
<br><h3>the Powerhouse in Del Mar</h3>
3-8PM
<br>
<br>3:00PM Cocktail Hour
<br>4:15PM Dinner and Dancing
</center>
<br><br>

<%= image_tag("powerhouse-oceanview_compressed.jpg", :alt => "The Powerhouse is right by the ocean", :width =>425) %>
<%= image_tag("powerhouse-topview_compressed.jpg", :alt => "A historic Del Mar landmark", :width => 475) %>
</div>
