
<% provide(:title, '1/4/14') %>

<div id="subtitle"><table><tr><td style="vertical-align:middle">We're getting married, and we hope you'll be there - 1/4/14</td></tr></table><%= image_tag("Transparent.gif", :height => '30px') %></div>

<%= image_tag("tree7.jpg", alt: "Del Mar, California", :id => "bgimage", :width => "100%" ) %>
<br>
<div id="content">
<div class="content-bottom">
  <div class="minisubtitle">Announcements</div>
  <b>August 26th, 2013</b>
  <p>Invitations are being mailed this week! Please respond by November 23rd, using the form available on the RSVP page.</p>
  <b>May 1st, 2013</b>
  <p>Welcome to our wedding website! Please browse the links at the top to learn more about us and the wedding.</p>
</div>
</div>

