
<% provide(:title, '1/4/14') %>

<div id="subtitle"><table><tr><td style="vertical-align:middle">We're getting married, and we hope you'll be there - 1/4/14</td></tr></table><%= image_tag("Transparent.gif", :height => '30px') %></div>

<%= image_tag("tree7.jpg", alt: "Del Mar, California", :id => "bgimage", :width => "100%" ) %>
<br>
<div id="content">
<div class="content-bottom">
  <div class="minisubtitle">Announcements</div>
  <b>October 22nd, 2013</b>
  <p>We're having a beach bonfire on January 1st at La Jolla! If you are in town, please join us for this San Diego winter tradition. Details TBA</p>
  <b>August 26th, 2013</b>
  <p>Invitations have been mailed! Kindly respond by November 23rd, using the form on the RSVP page.</p>
  <b>June 1st, 2013</b>
  <p>Welcome to our wedding website! Please browse the links at the top to learn more about us and our wedding.</p>
</div>
</div>

