
<% provide(:title, '1/4/14') %>

<div id="subtitle">We're getting married, and we hope you'll be there - 1/4/14</div>

<%= image_tag("tree7.jpg", alt: "Del Mar, California", :id => "bgimage", :width => "100%" ) %>
<br>
<div id="content">Welcome to our wedding website! Please browse the links at the top to learn more about us and the wedding.
<div class="content-bottom">
  <div class="minisubtitle">Announcements</div>
  <p>Invitations are being mailed this week! Please get in touch if you do not receive yours before September 6th. RSVP are due on November 23rd - please use the form available on the RSVP page (right-most link on navigation bar).</p>
</div>
</div>

