<% provide(:title, 'Wedding') %>
<div id="subtitle">Wedding Events</div>
<div id="content">
Our wedding is on Saturday, January 4th, 2014. See below for details of the day.
<br><br>
All guests are also invited to:
<ul>
<li>New Year's Day Beach Bonfire at La Jolla Shores! More information TBA - check back in December!</li>
<li>Wedding Afterparty, January 4th around 9PM (location TBA)</li>
</ul>
<br>

<div class="minisubtitle">Our Big Day</div>
<%= image_tag("seagrove-park-sign_compressed.jpg", :alt => "Seagrove Park", :width => 450) %>
<%= image_tag("seagrove-park-walkway_compressed.jpg", :alt => "A Del Mar park overlooking the Pacific", :width => 450) %>

<br><br>
<center>
Wedding Ceremony
<br>to be held at
<br><h3>Seagrove Park</h3>
2:14PM
<br><br>
<br>Reception to follow at
<br><h3>the Powerhouse in Del Mar</h3>
3-8PM
</center>
<br><br>

<%= image_tag("powerhouse-oceanview_compressed.jpg", :alt => "The Powerhouse is right by the ocean", :width =>425) %>
<%= image_tag("powerhouse-topview_compressed.jpg", :alt => "A historic Del Mar landmark", :width => 475) %>
</div>
